{% extends "layout.html" %}
{% block content %}
    <h2 align="center">Yelp License Manager</h2>    
        <div class="body-container" align="center"> 
            <p></p>
            <a href="/how_many">Enter Licenses</a> | <a href="/show_lic">Update / Show Licenses</a>
            <br><br><br><br><br><br>
            <!-- <small>
                Syncgroup source file last updated {{ file_last_modified }} <br>
                <a href="/repo_content">See Source File</a> | <a href="/write_to_file">Update Source File</a>
            </small> -->
        </div>
{% endblock content %}