{% extends "layout.html" %}
{% block content %}
<h2 align="center">Show / Update Licenses</h2>    
<br><br>
<!--
<b>{{ license_count }}</b> total, <b>{{ lic_count_assigned.count() }}</b> assigned, <b>{{ lic_count_free.count() }}</b> free
<br><br>
-->
<!-- filtering by app name -->
<form name="myform" action="{{ url_for('show_lic') }}" method="POST">
Filter by - <select name="app_select" autofocus="autofocus" onchange="this.form.submit();">
    <option></option>
    <option>All</option>
    {% for appname in filter_by_appname %}
      <option value="{{ appname }}">{{ appname }}</option>    
    {% endfor %}
</select>


<div class="body-container" style="padding-left:20px"> 
    <style>
        table, th, td {
          border: 1px solid black;
        }
    </style>
    <table style="width:100%" cellpadding="10">
        <tr style="font-weight:bold">
          <th>App Name</th>
          <th>Jira Ticket</th>
          <th>License Number</th> 
          <th>Assigned User</th> 
          <th>Expiration Date</th> 
          <th>Transferrable?</th>
	  <th></th>
        </tr>
        {% for data_element in license_list %}
        <tr>
            <th> {{ data_element.app_name }} </th>
            <th> {{ data_element.jira }} </th>
            <th> {{ data_element.lic_num }} </th>
            <th> {{ data_element.user }} </th>
            <th> {{ data_element.expire_date }} </th>
            <th> {{ data_element.lic_port }} </th>
            <th> 
      <button type="submit" name="edit" value="{{ data_element.id }}">Edit</button>
  </form>
            </th>
            <!-- something here to free remove -->
        </tr>
        {% endfor %}
      </table>
    <p></p>
    <p align="center"><a href="/">Back to Main Menu</a></p>
    <br>
{% endblock content %}
